body{
  background-image: url("./images/mountain.png");
  background-attachment: local;
}




#days,#hours,#minutes,#seconds{
  font-size:6vw;
  font-weight:bold;
  text-align:center;
  color:white;
  -webkit-text-stroke: 0.2vw black;
}

.time{
  color:rgb(251, 255, 0);
  font-weight:bold;
  font-size:3vw;
  text-align:center;
  -webkit-text-stroke: 0.2vw black;
}

